name: Build and Test Application (Java)
permissions:
  contents: read
  
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  spring-boot:
    env:
      CC_TEST_REPORTER_ID: 8dfb70ce91b02659f7213078a8af0793b487eb85bc0f7854c6a9a4444058bb02

    name: Create, format and upload Java coverage artifact
    runs-on: ubuntu-latest

    steps:

      # Setup Java Environment
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
          
          cache: maven

      - name: Checkout Repository
        uses: actions/checkout@v2

     # Run Maven Verify      
      - name: Build with Maven
        run: mvn -B install

