name: Build and Test Application (Java)
permissions:
  contents: read
  
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  spring-boot:

    name: Build and Test Springboot Application
    runs-on: ubuntu-latest

    steps:

      # Setup Java Environment
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
          
          cache: maven

      - name: Checkout Repository
        uses: actions/checkout@v2

     # Run Maven Verify      
      - name: Build with Maven
        run: mvn -B install

